---
// import CommentsUser from "@components/sections/CommentsUser.jsx"
import MainLayout from "@/layouts/MainLayout.astro";
import { SITE } from "@data/constants";

const pageTitle: string = `Dejar una Reseña | ${SITE.title}`;
---

<MainLayout title={pageTitle}>
  <div class="flex h-screen w-full items-center justify-center">
    <form
      id="formCommentUser"
      class="flex w-full max-w-md flex-col gap-4 rounded-lg border p-6 shadow-2xl dark:border-neutral-600 dark:text-white"
    >
      <div>
        <label for="author" class="text-xl font-semibold"
          >Nombre Completo:</label
        ><br />
        <input
          type="text"
          id="author"
          name="author"
          class="w-full rounded-lg dark:text-black"
        /><br />
      </div>
      <div>
        <label for="comment" class="text-xl font-semibold">Comentario:</label
        ><br />
        <textarea
          name="comment"
          id="comment"
          class="max-h-40 min-h-20 w-full rounded-lg dark:text-black"
        ></textarea>
      </div>
      <input
        type="submit"
        value="Enviar"
        class="mx-auto w-fit rounded-lg bg-blue px-6 py-3 text-white shadow-2xl hover:shadow-blue/70"
      />
    </form>
  </div>
</MainLayout>

<script is:inline>

    if (localStorage.getItem('comment') == null) {
        document.getElementById("formCommentUser").addEventListener("submit", function (event) {
            event.preventDefault();

            const data = {
                data: {
                author: document.getElementById("author").value,
                comment: document.getElementById("comment").value,
                },
            };

            const options = {
                method: "POST",
                headers: {
                "Content-Type": "application/json",
                },
                
                body: JSON.stringify(data),
            };

            fetch("https://tce-cms-strapi-192i.onrender.com/api/reviews", options)
                .then((response) => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
                })
                .then(() => {
                    localStorage.setItem('comment', true)
                    window.location.href = '/';
                })
                .catch((error) => console.error("Error:", error));
            });
    } else {
        window.location.href = '/';
    }

</script>
