<!-- Dark Theme Toggle Button --><!-- This button is shown when the light theme is active, and when clicked, it switches the theme to dark -->
<button
  type="button"
  aria-label="Dark Theme Toggle"
  data-button-dark
  class="btn-dark group flex h-8 w-8 items-center justify-center rounded-full font-medium text-white hover:bg-white/10 outline-none transition duration-300 hover:bg-neutral-200 hover:text-orange-400"
>
  <!-- The SVG displayed shows an abstract icon that represents the moon (dark theme) -->
  <svg
    class="h-4 w-4 flex-shrink-0"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></svg
  >
  <!-- Light Theme Toggle Button -->
  <!-- This button is hidden by default and only appears when the dark theme is active, when clicked, it switches to the light theme -->
</button>
